{{ template "editor-settings.tmpl" . }}

  // =============================================================================
  // Cursor-specific Settings
  // =============================================================================
  "cursor.composer.shouldAutoAcceptDiffs": false,
  "cursor.cpp.disabledLanguages": ["markdown", "plaintext"],
  "cursor.composer.shouldChimeAfterChatFinishes": true,
}
