# Homebrew - set up shell environment
# Note: This is the primary location for Homebrew setup
# It runs early in the shell initialization process
{{ if eq .chezmoi.os "darwin" -}}
[[ -x /opt/homebrew/bin/brew ]] && eval "$(/opt/homebrew/bin/brew shellenv)"
{{ else if eq .chezmoi.os "linux" -}}
[[ -x /home/linuxbrew/.linuxbrew/bin/brew ]] && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end -}}
